@import "elements/header";
@import "elements/content";
@import "elements/offer-section";
@import "elements/girl-winner";
@import "elements/dark-section";
@import "elements/black-background-section";
@import "elements/casino-online-boxes";
@import "elements/rino-boxes";
@import "elements/footer";

@import "modules/reset";
// @import "modules/mixins";
// @import "modules/colors";

/*----------------------------------------------------------------------------------------------------------------------------*/



// * {
//   box-sizing: border-box;
// margin: 0;
// padding: 0;
// text-decoration: none;
// list-style-type: none;
// }

/*----------------------------------------------------------------------------------------------------------------------------*/

// @mixin xs {
//   @media only screen and (min-width: 420px) {
//     @content;
//   }
// }
//
// @mixin sm {
//   @media only screen and (min-width: 1024px) {
//     @content;
//   }
// }
//
// @mixin md {
//   @media only screen and (min-width: 1280px) {
//     @content;
//   }
// }

/*----------------------------------------------------------------------------------------------------------------------------*/
//
// body {
//     background-color: #EFC32D5E;
//     font-size: 20px;
//     color:#933331;
//     @include xs{
//       background-color: #515E6F;
//       color:#FFFFFFF2;
//       font-size: 18px;
//     }
//     @include sm {
//       background-color: #AFEEEE;
//       color:#3D3D3D;
//       font-size: 18px;
//     }
//     @include md{
//       background-color: #FFFFFF;
//       color:#3D3D3D;
//       font-size: 16px;
//     }
// }

/*--------------------------------------------------------------------------------------------------------------------------------*/

// .container {
//   max-width: 1156px;
//   margin: 0 auto;
//   padding: 0 1.5em;
// }

/*---------------------------------------------------------------------------------------------------------------------------------------*/



// #mainImage{
//   height: 100vh;
//   width: 100vw;
//   background-repeat: no-repeat;
//   background-image: url("../images/main-image.png");
//   background-position: center;
//   background-size: cover;
// }


#ogoogaContent{
  font-size: 3.5rem;
  margin-left: -0.05em;
  color:cornflowerblue;
}

/**/
