

$mobileBackgroundColor: #EFC32D5E;
$mobileColor: #933331;

$xsBackgroundColor: #515E6F;
$xsColor: #FFFFFFF2;

$smBackgroundColor: #AFEEEE;
$smColor: #3D3D3D;

$mdBackgroundColor: #FFFFFF;
$mdColor: #3D3D3D;

$yellowLogo:#FFEE00;

$darkGradientBackground:transparent linear-gradient(180deg, #171717 0%, #3D3D3D 100%) 0% 0% no-repeat padding-box;











/*example discord------------------------------------------------------------------------------*/
// $default-color: #ededed;
// $primary-color: #696969;
