/*--------------black background section----------------------------------------------------------------------*/
/* line 4, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section {
  height: auto;
  background: #1B1E26 0 0 no-repeat padding-box;
  opacity: 1;
  color: #FFFFFF;
  /*------------------------------upper part-----------------------------------------------*/
  /*------------------------------upper part-----------------------------------------------*/
  /*------------------------------bottom part -----------------------------------------------*/
  /*------------------------------bottom part -----------------------------------------------*/
}

/* line 12, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part {
  width: auto;
  display: block;
}

@media only screen and (min-width: 420px) {
  /* line 12, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 12, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 12, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* line 32, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper {
  width: 100%;
  /**/
  /**/
}

@media only screen and (min-width: 420px) {
  /* line 32, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #leftDiv-upper {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 32, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #leftDiv-upper {
    width: 45%;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 32, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #leftDiv-upper {
    width: 45%;
  }
}

/* line 45, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #left-paragraph-upper-black {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding: 5em 0;
}

@media only screen and (min-width: 420px) {
  /* line 45, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #leftDiv-upper #left-paragraph-upper-black {
    padding: 3em;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 45, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #leftDiv-upper #left-paragraph-upper-black {
    padding: 2em;
    margin: 0;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 45, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #leftDiv-upper #left-paragraph-upper-black {
    padding: 1em;
    margin: 0;
  }
}

/* line 69, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #left-deposit-black-paragraph {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  background: #2E303D 0 0 no-repeat padding-box;
  border-radius: 3px 3px 0 0;
  padding: 1em 0;
}

/* line 82, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #no-deposit-win {
  padding: 2em 0;
  background-color: #3C3E4D;
}

/* line 87, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #no-deposit-win #no-deposit-bonus {
  color: #0DC2FB;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0;
  color: #0DC2FB;
  opacity: 1;
  margin: 0.5em 0;
}

/* line 99, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #no-deposit-win #enrollment10 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin: 0.5em 0;
}

/* line 110, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #no-deposit-win button.left-btn-ndeposit {
  background: transparent linear-gradient(270deg, #C778FB 0%, #0DC2FB 100%) 0 0 no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 160px;
  height: 40px;
  margin: 0.5em 0;
  border: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0;
  color: #FFFFFF;
}

/* line 126, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #no-deposit-win #applay-left {
  text-align: center;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
  font-weight: normal;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

/* line 138, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #overall-left-black {
  /**/
  /**/
}

/* line 140, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #overall-left-black .overall-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}

/* line 146, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #overall-left-black .overall-left #overall-rating-paragrapf {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* line 153, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #overall-left-black .overall-left #overallNR {
  color: #F37EF3;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* line 161, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #overall-left-black .black-paragraph-text-left {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  opacity: 1;
  position: relative;
}

/* line 171, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #overall-left-black .black-paragraph-text-left::before {
  content: "i";
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  box-shadow: 1px 3px 3px #00000040;
  border-radius: 50%;
  opacity: 1;
  right: -20px;
  top: -10px;
  text-align: center;
  color: #292929;
  border: 1px solid gray;
}

/* line 188, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #leftDiv-upper #overall-left-black .stars-left-black .fa-star {
  color: #EED867;
}

/* line 196, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper {
  width: 100%;
  /*--------first div right black-----------*/
  /*--------second div right black-----------*/
  /*--------third div right black-----------*/
}

@media only screen and (min-width: 420px) {
  /* line 196, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 196, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper {
    width: 65%;
    margin-left: 1.5em;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 196, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper {
    width: 65%;
    margin-left: 3em;
  }
}

/* line 211, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right {
  margin: 5em 0;
  padding: 1.5em 0;
  background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
  border: 1px solid #3C3E4D;
  border-radius: 3px;
  opacity: 1;
  height: auto;
  display: block;
  /*-----------*/
}

@media only screen and (min-width: 420px) {
  /* line 211, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #first-content-right {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 211, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #first-content-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 211, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #first-content-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

/* line 235, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right #payment-options-right-up {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  color: #F37EF3;
  opacity: 1;
}

/* line 245, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right .display-right-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #FFFFFF;
  padding: 1em 0;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

/* line 259, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right .display-right-up p.right-paragraph-text {
  margin-left: 5em;
}

/* line 264, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right #text-right-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

/* line 270, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right #text-right-up .text-rgh {
  margin-left: 0;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  opacity: 1;
}

@media only screen and (min-width: 420px) {
  /* line 270, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #first-content-right #text-right-up .text-rgh {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 270, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #first-content-right #text-right-up .text-rgh {
    margin-left: 3em;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 270, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #first-content-right #text-right-up .text-rgh {
    margin-left: 3em;
  }
}

/* line 290, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right #text-right-up #dep-opt {
  color: #F37EF3;
}

/* line 294, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right #text-right-up #opt-wtd {
  color: #989898;
}

/* line 299, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right #visa-boxes {
  margin-left: 2.5em;
}

/* line 302, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #first-content-right #visa-boxes img {
  margin: 0.5em;
  width: 65px;
}

/* line 309, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right {
  margin: 5em 0;
  padding: 1.5em 0;
  /*------------------*/
}

/* line 314, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #available-games-boxes {
  background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
  border: 1px solid #3C3E4D;
  border-radius: 3px;
  opacity: 1;
}

/* line 320, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #available-games-boxes #available-games-paragraph {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  color: #F37EF3;
  opacity: 1;
  margin: 3em 0 1em;
}

/* line 331, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #available-games-boxes #games-boxes {
  padding: 1.5em 1em;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 420px) {
  /* line 331, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #second-content-right #available-games-boxes #games-boxes {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 331, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #second-content-right #available-games-boxes #games-boxes {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 331, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .upper-article-part #rightDiv-upper #second-content-right #available-games-boxes #games-boxes {
    justify-content: flex-start;
  }
}

/* line 349, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #available-games-boxes #games-boxes .game-box-right {
  width: 100px;
  height: 50px;
  background: #3C3E4D 0 0 no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

/* line 365, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes {
  border: 3px solid forestgreen;
  background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
  border: 1px solid #3C3E4D;
  border-radius: 3px;
  opacity: 1;
  padding: 1.5em 0;
}

/* line 373, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #operating-system-right {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  color: #F37EF3;
  opacity: 1;
  margin: 1.5em 0;
}

/* line 384, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #right-boxex-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*-----------------------------------------------------*/
  /*------------------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

/* line 390, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #right-boxex-icons .right-icon-box {
  width: 50px;
  height: 50px;
  background: #3C3E4D 0 0 no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  margin: 1.5em 1em;
}

/* line 399, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #right-boxex-icons .robot-box a ion-icon {
  color: #42BB0D;
}

/* line 403, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #right-boxex-icons .apple-box a ion-icon {
  color: #E6E6E6;
}

/* line 407, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #right-boxex-icons .window-box a ion-icon {
  color: #76ABDF;
}

/* line 411, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #right-boxex-icons .mobile-box a ion-icon {
  color: #E0B0FF;
}

/* line 415, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #second-content-right #operating-systems-icon-boxes #right-boxex-icons .computer-box a ion-icon {
  color: #AFEEEE;
}

/* line 423, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #third-content-right {
  background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
  border: 1px solid #3C3E4D;
  border-radius: 3px;
  opacity: 1;
  margin: 5em 0;
  padding: 1.5em 0;
}

/* line 432, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #third-content-right p#paragraph-right-advantage {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  color: #F37EF3;
  opacity: 1;
  margin: 3em 0 1em;
}

/* line 444, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #third-content-right ul li {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin: 1em 0 1em 3em;
  position: relative;
}

/* line 457, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .upper-article-part #rightDiv-upper #third-content-right ul li::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #0EF68A;
  box-shadow: 1px 3px 3px #00000040;
  border-radius: 50%;
  opacity: 1;
  left: -3em;
  top: 5px;
  margin: 0 1em;
}

/* line 478, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .bottom-article-part .center-btn-free-golden-nugget {
  border: 1px solid #2E303D;
  border-radius: 3px;
  opacity: 1;
  width: auto;
  height: auto;
  padding: 1em;
}

@media only screen and (min-width: 420px) {
  /* line 478, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .bottom-article-part .center-btn-free-golden-nugget {
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 478, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .bottom-article-part .center-btn-free-golden-nugget {
    width: auto;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 478, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .bottom-article-part .center-btn-free-golden-nugget {
    width: 1110px;
  }
}

/* line 496, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .bottom-article-part .center-btn-free-golden-nugget .black-btn-free-golden-nugget {
  width: 1050px;
  height: auto;
  padding: 1em 0;
  background: transparent linear-gradient(270deg, #F37EF3 0%, #0DC2FB 100%) 0 0 no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0;
  color: #FFFFFF;
}

/* line 514, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .cuprinsButtons {
  /**/
}

/* line 516, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .cuprinsButtons #cuprinsParagraph {
  margin: 3em 0 2em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

/* line 527, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .cuprinsButtons #all-btn-black-bottom-part {
  margin: 1em 0 0 0;
  padding-bottom: 5em;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /**/
}

@media only screen and (min-width: 420px) {
  /* line 527, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .cuprinsButtons #all-btn-black-bottom-part {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 527, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .cuprinsButtons #all-btn-black-bottom-part {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 527, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
  #black-background-section .cuprinsButtons #all-btn-black-bottom-part {
    justify-content: flex-start;
  }
}

/* line 545, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .cuprinsButtons #all-btn-black-bottom-part .black-bottom-each-btn {
  background: transparent radial-gradient(gray, #1B1E26 0%, gray 100%) 0 0 no-repeat padding-box;
  color: #FFFFFF;
  padding: 1.5em 3em;
  margin: 1em 0.5em;
}

/* line 551, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .cuprinsButtons #all-btn-black-bottom-part .black-bottom-each-btn a {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

/* line 559, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .cuprinsButtons #all-btn-black-bottom-part .inregistrare-btn {
  border-bottom: 1px solid #FCD116;
}

/* line 567, ../AlgoritmCatalin_curs1/OGOOGA-Test/scss/elements/black-background-section.scss */
#black-background-section .empty-icon-star {
  color: #EED867;
}

/*# sourceMappingURL=black-background-section.css.map */