@import "../modules/mixins";
@import "../modules/colors";

section {
  border: 3px dotted red;

  article {
    border: 3px dotted green;
    margin-left: -0.7em;

    .title-h1 {
      font-family: 'Roboto', sans-serif;
      opacity: 1;
      text-align: left;
      color: $mobileColor;
      padding: 20px 0;
      font-size: 24px;
      @include xs {
        color: $xsColor;
        padding: 30px 0;
        font-size: 28px;
      }
      @include sm {
        color: #5B5B5B;
        padding: 40px 0;
        font-size: 38px;
      }
      @include md {
        color: #5B5B5B;
        padding: 50px 0;
        font-size: 48px;
      }
    }

    .title-h3 {
      font-family: 'Alegreya', serif;
      opacity: 1;
      font-size: 20px;
      //color:#933331;
      color: $mobileColor;
      @include xs {
        font-size: 24px;
        color: $xsColor;
      }
      @include sm {
        font-size: 26px;
        color: #5B5B5B;
      }
      @include md {
        font-size: 36px;
        color: #5B5B5B;
      }
    }

    .paragraph {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #5B5B5B;
      opacity: 1;
      text-align: left;
      color: $smColor;
      padding: 10px 0;
      @include xs {
        color: $xsColor;
        padding: 10px 0;
      }
      @include sm {
        color: $smColor;
        padding: 15px 0;
      }
      @include md {
        color: $smColor;
        padding: 20px 0;
      }
    }

    #booksAndText,
    #fireAndText {
      border: 3px dotted yellow;

      .books,
      .fire {
        width: auto;
        //border:3px solid indigo;
      }

      #booksImage {
        height: 100px;
        width: 100px;
        @include xs {
          height: 126px;
          width: 126px;
        }
        @include sm {
          height: 166px;
          width: 166px;
        }
        @include md {
          height: 176px;
          width: 176px;
        }
        background-repeat: no-repeat;
        background-image: url("../images/books-ogooga.png");
        background-position: center;
        background-size: contain;
        //border:3px solid magenta;
      }

      #fireImage {
        height: 100px;
        width: 100px;
        @include xs {
          height: 126px;
          width: 126px;
        }
        @include sm {
          height: 166px;
          width: 166px;
        }
        @include md {
          height: 176px;
          width: 176px;
        }
        background-repeat: no-repeat;
        background-image: url("../images/fire-ogooga.png");
        background-position: center;
        background-size: contain;
        //border:3px solid magenta;
      }
    }
  }
}
/*-------------------------------------------------------------------------------*/
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em;
}
/*------------------------------------------------------------------------------*/

#booksAndText,
#fireAndText {
  display: block;
  @include xs {
    display: block;
  }
  @include sm {
    display: flex;
  }
  @include md {
    display: flex;
  }
}

/*--------------casinosOnline------------------------------------------------------------------------*/

#casinosOnline{
  width: 100%;
  background: #F8F8F8 0% 0% no-repeat padding-box;
opacity: 1;
  border:3px dotted blue;

h3.title-casinos-online{
  margin:0.5em;
  padding: 0.5em;
text-align: center;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0px;
  color: #292929;
  opacity: 1;
  font-size: 20px;

  @include xs {
    font-size: 24px;
      color: #292929;
        font-size: 25px;
  }
  @include sm {
    font-size: 26px;
  color: #292929;
    font-size: 30px;
  }
  @include md {
    font-size: 36px;
      color: #292929;
        font-size: 36px;
  }

}


#casono-box-all{
  border:3px solid yellowgreen;

#casino-first-box{
  border:3px dotted indigo;
  position: relative;
  height: 318px;
}

#casino-first-box::before{
  content: "1";
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #FFFFFF;
  box-shadow: 1px 3px 3px #00000040;
  border-radius: 2.5px;
  opacity: 1;
  left: 0;
  top: 0;
  text-align: center;
}

}



.paragraph-online-casino{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  color: #292929;
  padding: 10px 0;
  @include xs {
    color: #292929;
    padding: 10px 0;
  }
  @include sm {
    color: #292929;
    padding: 15px 0;
  }
  @include md {
    color:#292929;
    padding: 20px 0;
  }
}

#someNr{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:0 1em;
}

p{
  margin: 0 1.5em;
  opacity: 1;
  text-align: center;
  color: #292929;
  @include xs {
    color: #292929;
    padding: 10px 0;
  }
  @include sm {
    color: #292929;
    padding: 15px 0;
  }
  @include md {
    color:#292929;
    padding: 20px 0;
  }
}

p#box-paragraph{
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E6E6E6;
border-radius: 3px;
opacity: 1;
  padding: 0.5em;
}

}

/*----------------rino---------------------------------------------------------------*/

.rino{

  .rino-article-all{
    border:3px dotted pink;
    margin:1em 0;
width:auto;

display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;

@include xs {
justify-content: space-around;
}
@include sm {
justify-content: space-between;
}
@include md {
justify-content: space-between;
}

    .rino-div{
  border:3px dotted orange;
  padding:0.5em;
  margin:1em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.58px;
  color: #292929;
  opacity: 1;
  text-align: left;
  font-size: 14px;

.rinoImg{
  height: 100px;
  width: 120px;

  @include xs {
    height: 126px;
    width: 146px;
  }
  @include sm {
    height: 166px;
    width: 186px;
  }
  @include md {
    height: 176px;
    width: 196px;
  }
  background-repeat: no-repeat;
  background-image: url("../images/rino-ogooga.png");
  background-position: center;
  background-size: contain;
}

.rino-subText{
  display: flex;
  align-items: center;
  justify-content: space-between;

p{
  i.fa-star{
          color: #E6A100;
          // border:3px dotted indigo;
  }
}

}

    }

  }

  .article-textSort{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    #sort-div-paragraph{
      margin:0.5em;
      padding:0 0.5em;
        width: 100px;
        height: 40px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.58px;
    color: #292929;
    opacity: 1;
    text-align: left;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    }


      .developer-div{
      border: 1px solid #FCD116;
      margin:1em;
      padding:0 1em;
        width: 168px;
        height: 40px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.58px;
    color: #292929;
    opacity: 1;
    text-align: left;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;
      }
  }



  input#input-ogooga{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    opacity: 1;
    width: 100%;
    height: 40px;

    padding-left: 2em;
    margin: 2em 0;
  }

  #search-outline{
  width: 16px;
  height: 16px;
  opacity: 1;
  color:$xsBackgroundColor;
  margin-left: -2em;
  }

}



/*-------------------------------------------------------------------------------*/
