@import "../modules/mixins";
@import "../modules/colors";

section {
//  border: 3px dotted red;

  article {
  //  border: 3px dotted green;
    margin-left: -0.7em;

    .title-h1 {
      font-family: 'Roboto', sans-serif;
      opacity: 1;
      text-align: left;
      color: $mobileColor;
      padding: 20px 0;
      font-size: 24px;
      @include xs {
        color: $xsColor;
        padding: 30px 0;
        font-size: 28px;
      }
      @include sm {
        color: #5B5B5B;
        padding: 40px 0;
        font-size: 38px;
      }
      @include md {
        color: #5B5B5B;
        padding: 50px 0;
        font-size: 48px;
      }
    }

    .title-h3 {
      font-family: 'Alegreya', serif;
      opacity: 1;
      font-size: 20px;

      color: $mobileColor;
      @include xs {
        font-size: 24px;
        color: $xsColor;
      }
      @include sm {
        font-size: 26px;
        color: #5B5B5B;
      }
      @include md {
        font-size: 36px;
        color: #5B5B5B;
      }
    }

    .paragraph {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #5B5B5B;
      opacity: 1;
      text-align: left;
      color: $smColor;
      padding: 10px 0;
      @include xs {
        color: $xsColor;
        padding: 10px 0;
      }
      @include sm {
        color: $smColor;
        padding: 15px 0;
      }
      @include md {
        color: $smColor;
        padding: 20px 0;
      }
    }

    #booksAndText,
    #fireAndText {
      border: 3px dotted yellow;

      .books,
      .fire {
        width: auto;
        //border:3px solid indigo;
      }

      #booksImage {
        height: 100px;
        width: 100px;
        @include xs {
          height: 126px;
          width: 126px;
        }
        @include sm {
          height: 166px;
          width: 166px;
        }
        @include md {
          height: 176px;
          width: 176px;
        }
        background-repeat: no-repeat;
        background-image: url("../images/books-ogooga.png");
        background-position: center;
        background-size: contain;
        //border:3px solid magenta;
      }

      #fireImage {
        height: 100px;
        width: 100px;
        @include xs {
          height: 126px;
          width: 126px;
        }
        @include sm {
          height: 166px;
          width: 166px;
        }
        @include md {
          height: 176px;
          width: 176px;
        }
        background-repeat: no-repeat;
        background-image: url("../images/fire-ogooga.png");
        background-position: center;
        background-size: contain;
        //border:3px solid magenta;
      }
    }
  }
}
/*-------------------------------------------------------------------------------*/

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em;
}

/*------------------------------------------------------------------------------*/
#booksAndText,
#fireAndText {
  display: block;
  @include xs {
    display: block;
  }
  @include sm {
    display: flex;
  }
  @include md {
    display: flex;
  }
}
