@import "../modules/colors";


@media only screen and (max-width: 1059px) {
  #nav-header{
    height:auto;
  }
}

@media only screen and (min-width: 1060px) {
  #nav-header{
    height:65px;
  }
}

#nav-header{
  background: $darkGradientBackground;
opacity: 1;
}


/*                                                   Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
  padding: 0.7em 0 0 0;
}

@media only screen and (min-width: 1060px) {
  .topnav {
    display: flex;
    align-items: left;
    justify-content: space-between;

    #myLinks{
      font-size: 12px;
    }
  }
}



/* Hide the links inside the navigation menu (except for logo/home) */
@media only screen and (min-width: 1060px) {
  .topnav #myLinks {
    display: flex;
  }
}

@media only screen and (max-width: 1059px) {
  .topnav #myLinks {
    display: none;
  }
}

/* Style navigation menu links */
.topnav a {
  color: #FFFFFF;
  padding: 25px 15px;
  text-decoration: none;

  display: block;
  font-family: 'Roboto', sans-serif;
}



@media only screen and (max-width: 1059px) {
  .topnav a {
   box-shadow: 0.3px 0.3px 0.35px 0.35px gray;
     padding: 20px 5px;
  }

  .topnav a.active {
   box-shadow: 0 0 0 0;
  }

}

/* Style the hamburger menu */
@media only screen and (max-width: 1059px) {
  .topnav a.icon {
    margin-top: 0.15em;
      background-color:$darkGradientBackground;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
     box-shadow: 0 0 0 0;
i{
  font-size: 1.5rem;
  padding:0 25px;
}

  }
}

@media only screen and (min-width: 1060px) {
  .topnav a.icon {
    display: none;
  }
}

/* Add a  background color on mouse-over */
.topnav a:hover {
  background-color:$darkGradientBackground;
 color:$yellowLogo;
  font-weight: bold;
}

/* Style the active link (or home/logo) */
.active {
  font-family: 'Alegreya', serif;
 font-size: 20px;
 letter-spacing: 0px;

 .ogooga-logo{
   color:#FFFFFF;
 }
 .test-logo{
   color:$yellowLogo;
 }
}
