@import "../modules/mixins";
@import "../modules/colors"; /*--------------black background section----------------------------------------------------------------------*/

#black-background-section {
  //  border: 3px solid red;
  //height: 1815px;
  height: auto;
  background: #1B1E26 0 0 no-repeat padding-box;
  opacity: 1;
  color: $mdBackgroundColor;
  /*------------------------------upper part-----------------------------------------------*/
  .upper-article-part {
    //  border: 3px solid pink;
  //  margin-top: 3em;
  //  margin-bottom: 3em;
    width: auto;
    display: block;
    @include xs {
      display: block;
    }
    @include sm {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include md {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #leftDiv-upper {
    //border: 3px solid tomato;
      width: 100%;
      @include xs {
        width: 100%;
      }
      @include sm {
        width: 45%;
      }
      @include md {
        width: 45%;
      }
      /**/
      #left-paragraph-upper-black {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0;
        color: $mdBackgroundColor;
        opacity: 1;
        //margin:3em;
        padding: 5em 0;

        @include xs {
          padding:3em;
        }
        @include sm {
          padding: 2em;
            margin:0;
        }
        @include md {
            padding: 1em;
              margin:0;
        }
      }

      #left-deposit-black-paragraph {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0;
        color: $mdBackgroundColor;
        opacity: 1;
        background: #2E303D 0 0 no-repeat padding-box;
        border-radius: 3px 3px 0 0;
        padding: 1em 0;
      }

      #no-deposit-win {
      //border:3px solid cornflowerblue;
        padding: 2em 0;
        background-color: #3C3E4D;

        #no-deposit-bonus {
          color: #0DC2FB;
          text-align: center;
          font-family: 'Poppins', sans-serif;
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 0;
          color: #0DC2FB;
          opacity: 1;
          margin: 0.5em 0;
        }

        #enrollment10 {
          text-align: center;
          font-family: 'Poppins', sans-serif;
          font-weight: normal;
          font-size: 16px;
          letter-spacing: 0;
          color: $mdBackgroundColor;
          opacity: 1;
          margin: 0.5em 0;
        }

        button.left-btn-ndeposit {
          background: transparent linear-gradient(270deg, #C778FB 0%, #0DC2FB 100%) 0 0 no-repeat padding-box;
          border-radius: 20px;
          opacity: 1;
          width: 160px;
          height: 40px;
          margin: 0.5em 0;
          border: none;
          text-align: center;
          font-family: 'Poppins', sans-serif;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 0;
          color: $mdBackgroundColor;
        }

        #applay-left {
          text-align: center;
          text-decoration: underline;
          font-family: 'Poppins', sans-serif;
          font-size: 9px;
          font-weight: normal;
          letter-spacing: 0;
          color: $mdBackgroundColor;
          opacity: 1;
        }
      }
      /**/
      #overall-left-black {
        //border: 3px solid floralwhite;
        .overall-left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2em 0;

          #overall-rating-paragrapf {
            color: $mdBackgroundColor;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: bold;
          }

          #overallNR {
            color: #F37EF3;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: bold;
          }
        }
        /**/
        .black-paragraph-text-left {
          text-align: left;
          font-family: 'Roboto', sans-serif;
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0;
          opacity: 1;
          position: relative;
        }

        .black-paragraph-text-left::before {
          content: "i";
          position: absolute;
          height: 15px;
          width: 15px;
          background-color: #FFFFFF;
          box-shadow: 1px 3px 3px #00000040;
          border-radius: 50%;
          opacity: 1;
          right: -20px;
          top: -10px;
          text-align: center;
          color: #292929;
          border: 1px solid gray;
        }

        .stars-left-black {
          .fa-star {
            color: #EED867;
          }
        }
        /**/
      }
    }

    #rightDiv-upper {
    //  border: 3px solid olive;
      width: 100%;
      @include xs {
        width: 100%;
      }
      @include sm {
        width: 65%;
        margin-left: 1.5em;
      }
      @include md {
        width: 65%;
        margin-left: 3em;
      }
      /*--------first div right black-----------*/
      #first-content-right {
        //border: 3px solid skyblue;
        margin: 5em 0;
        padding: 1.5em 0;
        background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
        border: 1px solid #3C3E4D;
        border-radius: 3px;
        opacity: 1;
        height: auto;
        display: block;
        @include xs {
          display: block;
        }
        @include sm {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }
        @include md {
          display: flex;
          align-items:flex-start;
          justify-content: space-between;
        }

        #payment-options-right-up {
          text-align: left;
          font-family: 'Roboto', sans-serif;
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0;
          color: #F37EF3;
          opacity: 1;
        }

        .display-right-up {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px dashed $mdBackgroundColor;
          padding: 1em 0;
          text-align: left;
          font-family: 'Roboto', sans-serif;
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0;
          color: #FFFFFF;
          opacity: 1;

          p.right-paragraph-text {
            margin-left: 5em;
          }
        }

        #text-right-up {
          display: flex;
           align-items: center;
          justify-content:space-between;
          padding: 1em 0;

          .text-rgh {
            margin-left: 0;
                        @include xs{
                        margin-left: 0;
                           }
                           @include sm {
                      margin-left: 3em;
                           }
                           @include md{
                    margin-left: 3em;
                           }

            text-align: left;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0;
            opacity: 1;
          }

          #dep-opt {
            color: #F37EF3;
          }

          #opt-wtd {
            color: #989898;
          }
        }
        /*-----------*/
        #visa-boxes{
          //border:3px solid deeppink;
            margin-left: 2.5em;
            img{
              margin: 0.5em;
              width: 65px;
            }
        }
      }
      /*--------second div right black-----------*/
      #second-content-right {
        //border: 3px solid orange;
        margin: 5em 0;
        padding: 1.5em 0;

        #available-games-boxes {
          background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
          border: 1px solid #3C3E4D;
          border-radius: 3px;
          opacity: 1;

          #available-games-paragraph {
            text-align: left;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0;
            color: #F37EF3;
            opacity: 1;
            margin: 3em 0 1em;
          }

          #games-boxes {
            //border: 3px solid darkmagenta;
            padding: 1.5em 1em;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            @include xs {
              justify-content: space-around;
            }
            @include sm {
              justify-content: space-around;
            }
            @include md {
              justify-content: flex-start;
            }

            .game-box-right {
              width: 100px;
              height: 50px;
              background: #3C3E4D 0 0 no-repeat padding-box;
              border-radius: 3px;
              opacity: 1;
              margin: 1em;
              display: flex;
              align-items: center;
              justify-content: center;

              color:$mdBackgroundColor;
            }
          }
        }

        #operating-systems-icon-boxes {
          border: 3px solid forestgreen;
          background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
          border: 1px solid #3C3E4D;
          border-radius: 3px;
          opacity: 1;
          padding: 1.5em 0;

          #operating-system-right {
            text-align: left;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0;
            color: #F37EF3;
            opacity: 1;
            margin: 1.5em 0;
          }

          #right-boxex-icons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            .right-icon-box {
              width: 50px;
              height: 50px;
              background: #3C3E4D 0 0 no-repeat padding-box;
              border-radius: 3px;
              opacity: 1;
              margin: 1.5em 1em;
            }
/*-----------------------------------------------------*/
            .robot-box a ion-icon{
              color: #42BB0D;
            }
/*------------------------------------------------------------*/
            .apple-box a ion-icon{
              color: #E6E6E6;
            }
/*-----------------------------------------------------*/
            .window-box a ion-icon {
              color: #76ABDF;
            }
/*-----------------------------------------------------*/
            .mobile-box a ion-icon {
              color: #E0B0FF;
            }
/*-----------------------------------------------------*/
            .computer-box a ion-icon {
              color: #AFEEEE;
            }
          }
        }
        /*------------------*/
      }
      /*--------third div right black-----------*/
      #third-content-right {
        //border: 3px solid red;
        background: transparent radial-gradient(closest-side at 50% 50%, #2E303D 0%, #1B1E26 100%) 0 0 no-repeat padding-box;
        border: 1px solid #3C3E4D;
        border-radius: 3px;
        opacity: 1;
        margin: 5em 0;
        padding: 1.5em 0;

        p#paragraph-right-advantage {
          text-align: left;
          font-family: 'Roboto', sans-serif;
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0;
          color: #F37EF3;
          opacity: 1;
          margin: 3em 0 1em;
        }

        ul {
          li {
            //list-style-type: circle;
            text-align: left;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: normal;
            letter-spacing: 0;
            color: $mdBackgroundColor;
            opacity: 1;
            margin: 1em 0 1em 3em;
            position: relative;
          }

          li::before {
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            background-color: #0EF68A;
            box-shadow: 1px 3px 3px #00000040;
            border-radius: 50%;
            opacity: 1;
            left: -3em;
            top: 5px;
            margin: 0 1em;
          }
        }
      }
    }
  }
  /*------------------------------upper part-----------------------------------------------*/
  /*------------------------------bottom part -----------------------------------------------*/
  .bottom-article-part {
    //border:3px solid yellowgreen;
    .center-btn-free-golden-nugget {
      border: 1px solid #2E303D;
      border-radius: 3px;
      opacity: 1;
      width: auto;
      @include xs {
        width: auto;
      }
      @include sm {
        width: auto;
      }
      @include md {
        width: 1110px;
      }
      //  height: 100px;
      height: auto;
      padding: 1em;

      .black-btn-free-golden-nugget {
        width: 1050px;
        //height: 60px;
        height: auto;
        padding: 1em 0;
        background: transparent linear-gradient(270deg, #F37EF3 0%, #0DC2FB 100%) 0 0 no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0;
        color: $mdBackgroundColor;
      }
    }
  }

  .cuprinsButtons {
    //border: 3px solid yellowgreen;
    #cuprinsParagraph {
      margin: 3em 0 2em;
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0;
      color: $mdBackgroundColor;
      opacity: 1;
    }

    #all-btn-black-bottom-part {
      margin: 1em 0 0 0;
      padding-bottom: 5em;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @include xs {
        justify-content: space-around;
      }
      @include sm {
        justify-content: space-around;
      }
      @include md {
        justify-content: flex-start;
      }
      /**/
      .black-bottom-each-btn {
        background: transparent radial-gradient(gray, #1B1E26 0%, gray 100%) 0 0 no-repeat padding-box;
        color: $mdBackgroundColor;
        padding: 1.5em 3em;
        margin: 1em 0.5em;

        a{
          color:$mdBackgroundColor;
          //compilare Scout App compilare from scss to css
          font-family: 'Open Sans', sans-serif;
        }

      }

      .inregistrare-btn {
        border-bottom: 1px solid #FCD116;
      }
    }
    /**/
  }


.empty-icon-star{
  color:#EED867;
}


















  /*------------------------------bottom part -----------------------------------------------*/
}
